<!DOCTYPE html>
<html>
<title>Template B</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://oldshell.github.io/Static-Page-Form/logo.png" style="width:80%" alt="logo">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div class="w3-container">
          <h6 class="w3-text-teal"><i class="fa fa-tags fa-fw w3-margin-right"></i>  <span class="w3-tag w3-teal w3-round">Form B. Case No. PO 20 18</span></h6>
					<hr>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Client</b></p>
					<p><i class="fa fa-user-circle fa-fw w3-margin-right w3-large w3-text-teal"></i>Grandpa Pig</p>
					<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Peppa Pig World, Paultons Park, Romsey, Hants, SO51</p>
					<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>.....</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
          <hr>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Referrer</b></p>
					<p><i class="fa fa-user-circle fa-fw w3-margin-right w3-large w3-text-teal"></i>pLaCeHoLdErreferral_name_first pLaCeHoLdErreferral_name_last</p>
					<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Peppa Pig World, Paultons Park, Romsey, Hants, SO51</p>
					<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>peppa@tv.co.uk</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>0987654321</p>
          <hr>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Engineer</b></p>
					<p><i class="fa fa-user-circle fa-fw w3-margin-right w3-large w3-text-teal"></i>Daddy Pig</p>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-puzzle-piece fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Problem</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Referrer's description</b></h5>
          <p>Eyes on same side of face --- Developers politically correct padding.--- Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Referrer's Solution</b></h5>
          <p>Adaptation to glasses --- Developers padding.--- Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-cogs fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Solution</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>brief description</b></h5>
          <p>Super Glue ---- Developers padding.--- Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio</p>
					<p><i class="fa fa-link fa-fw w3-margin-right w3-large w3-text-teal"></i><a href="https://www.dropbox.com/s/kw1zeqmrkrja3w5/Grandpa%20Pig.pdf?dl=0" target="_blank">Engineer's case folder</a></p>
          <hr>
         <h5 class="w3-opacity"><b>Costs</b></h5>
					<p><i class="fa fa-credit-card fa-fw w3-margin-right w3-large w3-text-teal"></i>Total cost £2.50</p>
					<p><i class="fa fa-hourglass-end fa-fw w3-margin-right w3-large w3-text-teal"></i>Engineer 2.00 hours</p>
					<p><i class="fa fa-hourglass-end fa-fw w3-margin-right w3-large w3-text-teal"></i>Administration 1.00 hours</p>
					<p><i class="fa fa-hourglass-end fa-fw w3-margin-right w3-large w3-text-teal"></i>Medical 1.00 hours</p>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>This example report does not contain JavaScript and can be Dropbox Previewed. I envisage that it would not contain any XML data and be for external consumption. This example is a mock-up but could easily be generated by any of the Editors.</p>
	<p>Based on an example at <a href="https://www.w3schools.com/w3css/w3css_templates.asp" target="_blank">w3school.com</a></p>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
